.project-urls ol {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.project-urls {
    display: inline-block;
}

li:nth-child(n+2) {
    margin: 0 8px;
}

li:first-child {
    margin-right: 8px;
}

.feather {
    width: 25px;
    height: 25px;
    stroke: #674576;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}