h3 {
    font-weight: bold;
    font-size: 1.75rem;
}

h3, p {
    font-family: 'Roboto', Arial;
}

.accent-color {
    color: #674576;
}

.project-card {
    padding: 16px 0;
}

.w300 {
    font-weight: 300;
}

.w500 {
    font-weight: 500;
}

.fs08 {
    font-size: 0.8rem;
}

img {
    height: auto;
    width: 100%;
    border-radius: 8px;
}

@media (min-width: 1250px) {
    img {
        height: 50vh;
        width: 100%;object-fit: cover;
    }

    .project-card {
        padding: 32px 24px;
    }

    h3 {
        font-size: 2.5rem;
    }
}

/* Landscape - Mobile Devices */
@media (max-height: 649px) and (orientation:landscape) {
    img {
        height: 65vh;
        width: 100%;
        object-fit: cover;
    }
}

@media (min-width: 500px) and(max-width: 991px) and (orientation: portrait) {
    img {
        height: 35vh;
        width: 100%;
        object-fit: cover;
    }
}

.text-no-margin {
    margin-top: 0;
    margin-bottom: 0;
}

.margin-top {
    margin-top: 1rem;
}