.project-card {
    padding: 16px;
    border: 5px solid #674576;
    border-radius: 8px;
    margin: 16px 0;
    height: calc(100% - 32px);
    display: flex;
    flex-flow: column;
}

.spacer {
    flex: 1 1 auto;
}

.project-urls ol {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.project-urls {
    display: inline-block;
}

li:nth-child(n+2) {
    margin: 0 8px;
}

li:first-child {
    margin-right: 8px;
}

h3 {
    font-size: 1.75rem;
    margin-bottom: 0;
}

h3, p {
    font-family: 'Roboto', Arial;
}

p {
    margin-bottom: 0.75rem;
}

@media (min-width: 1250px) {
    h3 {
        font-size: 2rem;
    }
}

.w300 {
    font-weight: 300;
}

.w500 {
    font-weight: 500;
}

.fs08 {
    font-size: 0.8rem;
}

.feather {
    width: 21px;
    height: 21px;
    stroke: #674576;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

.accent-color {
    color: #674576;
}