<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    
    <a class="navbar-brand" aria-label="Icon of Akisan" href="#">
      <svg width="35" height="35" viewBox="0 0 172 192" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M171.94 192H146.877L126.395 138.176H70.4086L77.8141 117.958H118.984L88.6655 36.151C87.6799 33.4844 86.6841 29.1599 85.701 23.2975H85.1618C84.2673 28.718 83.2246 33.0425 82.0624 36.151L52.0132 117.958H52.0518L46.4898 133.143L44.5753 138.098L44.6624 138.131L44.6459 138.176H44.4669L25.198 192H0L74.1124 0H97.5585L171.94 191.999V192Z" fill="black"/>
      </svg>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <div class="navbar-nav">

        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" data-bs-toggle="collapse" data-bs-target="#navbar">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#featured-projects-title" data-bs-toggle="collapse" data-bs-target="#navbar">Projects</a>
        </li>
      </ul>
      </div>
    </div>
  </div>
</nav>

<section aria-labelledby="hero-title" class="hero">
  <div class="content">
    <h1 id="hero-title">Hello <br/> <span class="w900">I'm Akisan</span></h1>
    <p class="four-times text-no-margin">Software Developer</p>
    <p class="two-times text-no-margin">Backend, Full stack and Mobile</p>
    <a [href]="'https://www.linkedin.com/in/akisan/'" target="_blank" rel="noopener noreferrer" title="LinkedIn - Private Profile"><button type="button" class="btn btn-primary margin btn-lg extended">LinkedIn</button></a>
  </div>
</section>

<section aria-labelledby="featured-projects-title" class="projects" data-aos="fade-up"
data-aos-delay="100">
  <h2 id="featured-projects-title" class="projects2">Featured Projects</h2>
  
  <div class="row">
    <app-featured-project *ngFor="let project of featuredProjects; index as i;" 
                          class="col-md-6" [project]="project">
    </app-featured-project>
  </div>
</section>

<section aria-labelledby="other-projects-title" class="othersPro" data-aos="fade-up">
  <h2 id="other-projects-title" class="projects2">Other Projects</h2>
  <div class="row other-container"> <!-- Bootstrap 4+ based on Flex which make this okay -->
    <app-other-project *ngFor="let project of otherProjects; index as i;" 
          [ngClass]="{'col-md-3' : elementsPrRow === 4, 'col-md-6' : elementsPrRow !== 4}" 
          [project]="project">
    </app-other-project>
  </div>
</section>