<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Akisan</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        <a class="nav-link" href="#featured-projects-title">Projects</a>
        <a class="nav-link" href="#">About</a>
        <a class="nav-link disabled">Disabled</a>
      </div>
    </div>
  </div>
</nav>

<section aria-labelledby="hero-title" class="hero">
  <div class="content">
    <h1 id="hero-title">Hello <br/> <span class="w900">I'm Akisan</span></h1>
    <p class="four-times text-no-margin">Software Developer</p>
    <p class="two-times text-no-margin">Backend, Full stack and Mobile</p>
    <button type="button" class="btn btn-primary margin btn-lg extended">LinkedIn</button>
  </div>
</section>

<section aria-labelledby="featured-projects-title" class="projects" data-aos="fade-up" data-aos-duration="2000"
data-aos-delay="100">
  <h2 id="featured-projects-title" class="projects2">Featured Projects</h2>
  
  <div class="row">
    <app-featured-project *ngFor="let project of featuredProjects; index as i;" 
                          class="col-md-6" [project]="project">
    </app-featured-project>
  </div>
</section>

<section class="othersPro" data-aos="fade-up" data-aos-duration="2000">
  <h2 id="featured-projects-title" class="projects2">Other Projects</h2>
  <div class="row other-container"> <!-- Bootstrap 4+ based on Flex which make this okay -->
    <app-other-project *ngFor="let project of otherProjects; index as i;" 
          [ngClass]="{'col-md-3' : elementsPrRow === 4, 'col-md-6' : elementsPrRow !== 4}" 
          [project]="project">
    </app-other-project>
  </div>
</section>